@import "styles/_variables.scss";

.filters {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;

  &__button {
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #d73b3b;

    font-size: 1.25rem;
    font-weight: bold;
    color: #d73b3b;

    &--active {
      background-color: #d73b3b;
      color: white;
    }

    &:hover {
      background-color: #d73b3b;
      transition: ease-out 200ms;
      cursor: pointer;

      color: white;
    }
  }
}
