@import 'styles/variables';

.menu {
    padding: 20px 250px;
}

.header {
    height: 300px;
    padding: 0 $padding-horinzontal;
    display: flex;
    align-items: center;

    background: linear-gradient(#00000025, #00000025) ,url('/assets/menu/header.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &__text {
        width: 50%;
        min-height: 300px;
        display: flex;
        align-items: center;

        font-size: 5rem;
        font-weight: 300;
        font-style: italic;
        color: white;
    }
}